<a href="https://colab.research.google.com/github/thanneeruvenu/Python_Online_Course/blob/master/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
a,b,c,d,e,f = 10,11.5,"text",'a','12',"134.99" 

a1 = int(a) 
print(type(a1), a1) # output is 10 and type is int 

a2 = float(a) 
print(type(a2), a2) # output is 10.0 and type is float

a3 = str(a) 
print(type(a3), a3) # output is 10 and type is str

b1 = int(b) 
print(type(b1), b1) # output is 11 and type is int

b2 = float(b)
print(type(b2), b2) # output is 11.5 and type is float

b3 = str(b)
print(type(b3), b3) # output is 11.5 and type is str

#c1 = int(c) # ValueError: invalid literal for int() with base 10: 'text'
#print(type(c1), c1) # NameError: name 'c1' is not defined if c1 is not declared

#c2 = float(c) #ValueError: could not convert string to float: 'text'

c3 = str(c) 
print(type(c3), c3) # output is text and type is str

#d1 = int(d) # ValueError: invalid literal for int() with base 10: 'a'

#d2 = float(d) # ValueError: could not convert string to float: 'a'

e1 = int(e)
print(type(e1), e1) # output is 12 and type is int

e2 = float(e)
print(type(e2), e2) # output is 12.0 and type is float

#f1 = int(f) # ValueError: invalid literal for int() with base 10: '134.99'

f2 = float(f)
print(type(f2), f2) # output is 134.99 and type is float

<class 'int'> 10
<class 'float'> 10.0
<class 'str'> 10
<class 'int'> 11
<class 'float'> 11.5
<class 'str'> 11.5
<class 'str'> text
<class 'int'> 12
<class 'float'> 12.0
<class 'float'> 134.99